{% extends "companyapp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block body %}
{#     <h1>{{company_instnace}}</h1>#}
<div style="display: block;width:100%;">
    <a href="{% url 'companyapp:index' %}" type="button" class="btn btn-primary" style="float: left;">Back</a>
    {% if company_instnace != None %}
    <a href="{% url 'companyapp:addAddress' pk=company_instnace.id %}"  type="button" class="btn btn-primary" style="float: right;">Next</a>
   {% else %}
{#    <a href="{% url 'companyapp:addAddress' 1 %}"  type="button" class="btn btn-primary" style="float: right;">Next</a>#}
        {{ pass  }}
    {% endif %}
    </div><br>
    <div style="margin-top:30px">

<form method="POST">
    <div class="form-control  col-lg-12">
        {% csrf_token %}
{{companylist|crispy   }}

    </div>
    <div style="margin-top:10px">

        <button type="submit" class="btn btn-block btn-primary" >Save</button>


</div>
</form>
    </div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
