{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

      <meta charset="utf-8">

    <title>Admaren Company Directory</title>

 <link rel = "icon" href ="{% static 'companyapp/Asset.png'%}" type = "image/png">

  </head>


<body>



<nav class="navbar navbar-expand-lg p-3 mb-2 ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'companyapp/Asset.png'%}" alt="" width="auto" height="70">
    </a>

      <div class="mx-auto">
          <h1 class=" text-uppercase " style="color:#0B78B7;" >Company Details</h1>
      </div>

  </div>
</nav>
{#<hr style="height:30px; color:black;">#}

<div class="container-fluid">
{% block body %}
{% endblock %}

</div>
</body>
{# <script src="jquery-3.5.1.min.js"></script>#}
{#      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
</html>